Data extraction from github repository codes

In [1]:
pip install git-clone

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git-clone
  Downloading git_clone-1.0.6-py2.py3-none-any.whl (3.0 kB)
Installing collected packages: git-clone
Successfully installed git-clone-1.0.6

In [2]:
import json
import os
import pandas as pd
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 11.61 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

Transaction data broken down by type of payment at country level.

In [3]:
path="/content/pulse/data/aggregated/transaction/country/india/state/"#intializing the path
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Transacion_type=[], Transacion_count=[], Transacion_amount=[])#creating a dictionary
for i in state:#looping through state
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:#looping inside a state to get the year
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:#looping inside the year to get all the json files
            yt=p_t+k
            data=open(yt,'r')
            D=json.load(data)#loading the json files into a variable
            for z in D['data']['transactionData']:#looping through the variable so as to extract the data
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm['Transacion_type'].append(Name)
                clm['Transacion_count'].append(count)
                clm['Transacion_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
rt=pd.DataFrame(clm)
rt

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,punjab,2021,2,Peer-to-peer payments,13180933,5.528249e+10
1,punjab,2021,2,Merchant payments,11225598,9.710508e+09
2,punjab,2021,2,Recharge & bill payments,7591039,4.370757e+09
3,punjab,2021,2,Financial Services,46218,5.330905e+07
4,punjab,2021,2,Others,127460,1.139980e+08
...,...,...,...,...,...,...
3589,uttar-pradesh,2022,1,Merchant payments,221556930,1.655439e+11
3590,uttar-pradesh,2022,1,Peer-to-peer payments,195592648,6.847589e+11
3591,uttar-pradesh,2022,1,Recharge & bill payments,54873261,3.168381e+10
3592,uttar-pradesh,2022,1,Financial Services,358499,3.862182e+08
3593,uttar-pradesh,2022,1,Others,1571908,7.503274e+08

In [5]:
rt.isnull().sum()#checking for nulls in the data

State                0
Year                 0
Quater               0
Transacion_type      0
Transacion_count     0
Transacion_amount    0
dtype: int64

In [6]:
rt=rt.drop_duplicates()#checking for duplicates in the data there are no duplicates in the data
rt.shape

(3594, 6)

In [7]:
rt.dtypes#checking the data types if it is in proper format or not

State                 object
Year                  object
Quater                 int64
Transacion_type       object
Transacion_count       int64
Transacion_amount    float64
dtype: object

In [9]:
rt['Year']=rt['Year'].astype(int)#converting it to int

In [10]:
rt.dtypes

State                 object
Year                   int64
Quater                 int64
Transacion_type       object
Transacion_count       int64
Transacion_amount    float64
dtype: object

In [11]:
rt.to_csv('agg_trans.csv', index=False)#extracting the data

2)Users data broken down by devices at country level.

In [19]:
path="/content/pulse/data/aggregated/user/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Percentage_of_users=[], Users_count=[], Brand_Name=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
            try:
              for z in X['data']['usersByDevice']:
                  brand=z['brand']
                  count=z['count']
                  percentage=z['percentage']
                  clm['Brand_Name'].append(brand)
                  clm['Users_count'].append(count)
                  clm['Percentage_of_users'].append(percentage)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
            except Exception:
              pass
rg=pd.DataFrame(clm)
rg.isnull().sum()#no null values
rg.shape
rg=rg.drop_duplicates()#no duplicates
rg.shape
rg.dtypes
rg['Year']=rg['Year'].astype(int)

In [20]:
rg.to_csv('agg_user.csv', index=False)

3)Total number of transactions and total value of all transactions at the state level.

In [24]:
path="/content/pulse/data/map/transaction/hover/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Transaction_amount=[], Transaction_count=[], Dist_Name=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
#try:
            for z in X['data']['hoverDataList']:
                  name=z['name']
                  count=z['metric'][0]['count']
                  amount=z['metric'][0]['amount']
                  clm['Dist_Name'].append(name)
                  clm['Transaction_count'].append(count)
                  clm['Transaction_amount'].append(amount)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
#        except Exception:
#            pass
rf=pd.DataFrame(clm)
rf.isnull().sum()#no null values
rf.shape
rf=rf.drop_duplicates()#no duplicates
rf.shape
rf.dtypes
rf['Year']=rf['Year'].astype(int)

In [25]:
rf.to_csv('map_tran.csv', index=False)

4)Total number of registered users and number of app opens by these registered users at the state level.

In [26]:
path="/content/pulse/data/map/user/hover/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],app_open_count=[], user_count=[],District=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
            try:
              for m,z in X['data']['hoverData'].items():
                  reg_user_count = z['registeredUsers']
                  app_open_count = z['appOpens']
                  clm['District'].append(m)
                  clm['user_count'].append(reg_user_count)
                  clm['app_open_count'].append(app_open_count)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
            except Exception:
              pass
rm=pd.DataFrame(clm)
rm.isnull().sum()#no null values
rm.shape
rm=rm.drop_duplicates()#no duplicates
rm.shape
rm.dtypes
rm['Year']=rm['Year'].astype(int)

In [29]:
rm.to_csv('map_user.csv', index=False)

Top 10 states / districts / pin codes where the most number of the transactions happened for a selected year-quarter combination.

In [30]:
path="/content/pulse/data/top/transaction/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Transaction_amount=[], Transaction_count=[], Top_Dist_Name=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
            for z in X['data']['districts']:
                  name=z['entityName']
                  count=z['metric']['count']
                  amount=z['metric']['amount']
                  clm['Top_Dist_Name'].append(name)
                  clm['Transaction_count'].append(count)
                  clm['Transaction_amount'].append(amount)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
rs=pd.DataFrame(clm)
rs.isnull().sum()#no null values
rs.shape
rs=rs.drop_duplicates()#no duplicates
rs.shape
rs.dtypes
rs['Year']=rs['Year'].astype(int)

In [32]:
rs.to_csv('top_tran_distname.csv', index=False)

According to pincode

In [34]:
path="/content/pulse/data/top/transaction/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Transaction_amount=[], Transaction_count=[], Top_Dist_Pincode=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
            for z in X['data']['pincodes']:
                  name=z['entityName']
                  count=z['metric']['count']
                  amount=z['metric']['amount']
                  clm['Top_Dist_Pincode'].append(name)
                  clm['Transaction_count'].append(count)
                  clm['Transaction_amount'].append(amount)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
fg=pd.DataFrame(clm)
fg.isnull().sum()#no null values
fg.shape
fg=fg.drop_duplicates()#no duplicates
fg.shape
fg.dtypes
fg['Year']=fg['Year'].astype(int)

In [35]:
fg.to_csv('top_tran_pincode.csv', index=False)

Top 10 states / districts / pin codes where most number of users registered from, for a selected year-quarter combination.

In [37]:
path="/content/pulse/data/top/user/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Top_Dist_users=[], Top_Dist_Name=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
            for z in X['data']['districts']:
                  name=z['name']
                  users=z['registeredUsers']
                  clm['Top_Dist_users'].append(users)
                  clm['Top_Dist_Name'].append(name)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
mg=pd.DataFrame(clm)
mg.isnull().sum()#no null values
mg.shape
mg=mg.drop_duplicates()#no duplicates
mg.shape
mg.dtypes
mg['Year']=mg['Year'].astype(int)

In [39]:
mg.to_csv('top_user_distname.csv', index=False)

According to pincode

In [40]:
path="/content/pulse/data/top/user/country/india/state/"
state=os.listdir(path)
clm=dict(State=[],Year=[],Quater=[],Top_Dist_users=[], Top_Dist_Pincode=[])
for i in state:
    p=path+i+"/"
    p_yr=os.listdir(p)
    for j in p_yr:
        p_t=p+j+'/'
        pa=os.listdir(p_t)
        for k in pa:
            yt=p_t+k
            data=open(yt,'r')
            X=json.load(data)
            for z in X['data']['pincodes']:
                  name=z['name']
                  users=z['registeredUsers']
                  clm['Top_Dist_users'].append(users)
                  clm['Top_Dist_Pincode'].append(name)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
tg=pd.DataFrame(clm)
tg.isnull().sum()#no null values
tg.shape
tg=tg.drop_duplicates()#no duplicates
tg.shape
tg.dtypes
tg['Year']=tg['Year'].astype(int)

In [42]:
tg.to_csv('top_user_pincode.csv', index=False)